<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>71301882381-73pho719k84d6bv55kj1g9ph03c99jk6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.71301882381-73pho719k84d6bv55kj1g9ph03c99jk6</string>
	<key>API_KEY</key>
	<string>AIzaSyBEk3j4bRjzLqKZr8XYtxSnju4HVHDvLew</string>
	<key>GCM_SENDER_ID</key>
	<string>71301882381</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.todorn.arleyhr</string>
	<key>PROJECT_ID</key>
	<string>todo-list-ff7bb</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-list-ff7bb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:71301882381:ios:e0943e2bc0b11d38</string>
	<key>DATABASE_URL</key>
	<string>https://todo-list-ff7bb.firebaseio.com</string>
</dict>
</plist>